<style>
    .bi-icon {
        top: -0.75rem;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartDoc App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="bi bi-file-earmark-arrow-up" aria-hidden="true"></span> Análisis
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="bi bi-list" aria-hidden="true"></span> Histórico
            </NavLink>
        </div>
    </nav>
</div>

