@page "/logs"
@attribute [StreamRendering]
@inject HttpClient Http

@using SmartDoc.WebApp.Models

<PageTitle>Logs</PageTitle>

<h2>Histórico</h2>

<p>This component demonstrates showing data.</p>

@if (logs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Action Type</th>
                <th>Description</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in logs)
            {
                <tr>
                    <td>@log.Id</td>
                    <td>@log.ActionType</td>
                    <td>@log.Description</td>
                    <td>@log.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LogResult[]? logs;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("https://localhost:7004/api/logs");
        if (response.IsSuccessStatusCode)
        {
            logs = await response.Content.ReadFromJsonAsync<LogResult[]>();
        }
        else
        {
            Console.Error.WriteLine("Failed to load logs.");
        }
    }

}
